In [3]:
import pandas as pd

In [18]:
#Upload CSV file and store it
df = pd.read_csv("2022-2023 Football Player Stats.csv", encoding = "ISO-8859-1", sep=';')

In [19]:
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4

In [27]:
#Check for null values
df.columns.isna().sum()

0

In [28]:
#Check if there are duplicates
df.duplicated().sum()

0

In [30]:
#Remove the columns that I don't need. Just focus on the metrics for goals and shooting
df = df.drop(["Age", "PasTotCmp", "PasTotAtt", "PasTotCmp%", "PasTotDist", "PasTotPrgDist", "PasShoCmp", "PasShoAtt",
    "PasShoCmp%", "PasMedCmp", "PasMedAtt", "PasMedCmp%", "PasLonCmp", "PasLonAtt", "PasLonCmp%", "Assists",
    "PasAss", "Pas3rd", "PPA", "CrsPA", "PasProg", "PasAtt", "PasLive", "PasDead", "PasFK", "TB", "Sw", "PasCrs",
    "TI", "CK", "CkIn", "CkOut", "CkStr", "PasCmp", "PasOff", "PasBlocks", "SCA", "ScaPassLive", "ScaPassDead",
    "ScaDrib", "ScaSh", "ScaFld", "ScaDef", "GCA", "GcaPassLive", "GcaPassDead", "GcaDrib", "GcaSh", "GcaFld",
    "GcaDef", "Tkl", "TklWon", "TklDef3rd", "TklMid3rd", "TklAtt3rd", "TklDri", "TklDriAtt", "TklDri%", "TklDriPast",
    "Blocks", "BlkSh", "BlkPass", "Int", "Tkl+Int", "Clr", "Err", "Touches", "TouDefPen", "TouDef3rd", "TouMid3rd",
    "TouAtt3rd", "TouAttPen", "TouLive", "ToAtt", "ToSuc", "ToSuc%", "ToTkl", "ToTkl%", "Carries", "CarTotDist",
    "CarPrgDist", "CarProg", "Car3rd", "CPA", "CarMis", "CarDis", "Rec", "RecProg", "CrdY", "CrdR", "2CrdY", "Fls",
    "Fld", "Off", "Crs", "TklW", "PKwon", "PKcon", "OG", "Recov", "AerWon", "AerLost", "AerWon%"], axis=1)

In [31]:
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Born,MP,Starts,Min,...,Goals,Shots,SoT,SoT%,G/Sh,G/SoT,ShoDist,ShoFK,ShoPK,PKatt
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,2000,20,19,1596,...,1,1.53,0.28,18.5,0.04,0.20,19.0,0.11,0.0,0.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,1987,22,22,1980,...,0,0.86,0.05,5.3,0.00,0.00,13.5,0.00,0.0,0.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,1999,14,8,770,...,0,1.05,0.35,33.3,0.00,0.00,19.2,0.00,0.0,0.0
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,2000,20,20,1799,...,1,0.60,0.15,25.0,0.08,0.33,20.3,0.00,0.0,0.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,1993,15,15,1165,...,0,0.31,0.00,0.0,0.00,0.00,23.9,0.00,0.0,0.0

In [36]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Born', 'MP',
       'Starts', 'Min', '90s', 'Goals', 'Shots', 'SoT', 'SoT%', 'G/Sh',
       'G/SoT', 'ShoDist', 'ShoFK', 'ShoPK', 'PKatt'],
      dtype='object')

In [35]:
df.rename(columns= {'Rk': 'Rank', 'Nation': 'Country', 'Pos': 'Position', 'Squad': 'Club', 'Comp': 'League'})

,Rank,Player,Country,Position,Club,League,Born,MP,Starts,Min,...,Goals,Shots,SoT,SoT%,G/Sh,G/SoT,ShoDist,ShoFK,ShoPK,PKatt
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,2000,20,19,1596,...,1,1.53,0.28,18.5,0.04,0.20,19.0,0.11,0.0,0.0
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,1987,22,22,1980,...,0,0.86,0.05,5.3,0.00,0.00,13.5,0.00,0.0,0.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,1999,14,8,770,...,0,1.05,0.35,33.3,0.00,0.00,19.2,0.00,0.0,0.0
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,2000,20,20,1799,...,1,0.60,0.15,25.0,0.08,0.33,20.3,0.00,0.0,0.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,1993,15,15,1165,...,0,0.31,0.00,0.0,0.00,0.00,23.9,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,2685,Szymon ?urkowski,POL,MF,Fiorentina,Serie A,1997,2,0,32,...,0,5.00,2.50,50.0,0.00,0.00,15.2,0.00,0.0,0.0
2685,2686,Szymon ?urkowski,POL,MF,Spezia,Serie A,1997,1,0,8,...,0,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.0,0.0
2686,2687,Martin Ødegaard,NOR,MF,Arsenal,Premier League,1998,20,20,1684,...,8,2.73,0.86,31.4,0.16,0.50,18.9,0.27,0.0,0.0
2687,2688,Milan ?uri?,BIH,FW,Hellas Verona,Serie A,1990,16,7,703,...,1,1.03,0.26,25.0,0.13,0.50,11.0,0.00,0.0,0.0
2688,2689,Filip ?uri?i?,SRB,MFFW,Sampdoria,Serie A,1992,20,17,1326,...,2,1.16,0.48,41.2,0.12,0.29,19.4,0.00,0.0,0.0